ELASTIC_PASSWORD=replace-with-your-elastic-password
LOGSTASH_INTERNAL_PASSWORD=replace-with-your-logstash-password
KIBANA_SYSTEM_PASSWORD=replace-with-your-kibana-password
METRICBEAT_INTERNAL_PASSWORD=
FILEBEAT_INTERNAL_PASSWORD=
HEARTBEAT_INTERNAL_PASSWORD=
MONITORING_INTERNAL_PASSWORD=
BEATS_SYSTEM_PASSWORD=
